<div class="w-100 h-auto p-2 background-external">
  <div class="rounded-3 m-4 h-100 background-internal text-center glass-effect">
    <div *ngFor="let movies of apiResponse.Search">
      <div class="m-3 p-3 shadow-lg">
        <div class="d-flex">
          <div class="poster-image">
            <img [src]="movies.Poster" alt="Não possui imagem">
          </div>
          <div class="flex-lg-grow-1 d-flex flex-column cursor-pointer text-center justify-content-center align-items-center"
               routerLink="/principal/moviedetails/{{movies.imdbID}}">
            <div class="fonte fw-bold">Title: {{ movies.Title }}</div>
            <div class="fs-5">Category: {{ movies.Type }}</div>
            <div class="fs-5">Year: {{ movies.Year }}</div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
