<div class="color full-screen overflow-x-hidden">
  <button class="m-3 btn btn-primary"
          routerLink="/principal/catalogs">
    <i class="fa-solid fa-house fs-5" style="color: #ffffff;"></i>
  </button>
  <div class="row">
    <div class="col-12 p-5">
      <div class="row d-flex m-3 p-3 rounded-5 color-interno" *ngFor="let movies of apiResponse.Search">
        <div class="col-12 col-md-4 d-flex justify-content-center mb-3 mb-md-0">
          <div class="poster-image">
            <img [src]="movies.Poster" class="img-fluid rounded text-light" alt="Não possui imagem">
          </div>
        </div>
        <div class="col-12 col-md-8 d-flex flex-column text-center text-md-start justify-content-center">
          <div routerLink="/principal/moviedetails/{{movies.imdbID}}" class="cursor-pointer">
            <div class="fonte fw-bold text-light">Title: {{ movies.Title }}</div>
            <div class="fs-6 text-light">Category: {{ movies.Type }}</div>
            <div class="fs-6 text-light">Year: {{ movies.Year }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
