@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';


.background-external {
  background-color: #0b061a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 40px;
}

.background-internal {
  background-color: #120929;
  color: #fff;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.color{
  background-color: #512F8FFF;
}

.color-interno{
  background-color: #6610f2;
}

.color-purple{
  background-color: var(--bs-purple);
}



body {
  font-family: Arial, sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
}

.full-screen {
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}


.font-white{
  color: #eaeaf1 !important;
}

.font-red{
  color: #ff1e1e !important;
}

.button-pai{
  background-color: white !important;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: #000;
  height: 30px;
}
.button-filho{
  background-color: #eaeaea !important;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  color: #000;
  height: 30px;
}

.button-pai:hover{
  background-color: white !important;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: #000;
  height: 30px;
}
.button-filho:hover{
  background-color: #eaeaea !important;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  color: #000;
  height: 30px;
}


.button-pai.active,
.button-pai.active:hover {
  background-color: white !important;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: #000;
}

.button-filho.active,
.button-filho.active:hover {
  background-color: #eaeaea !important;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  color: #000;
}


.cursor-pointer{
  cursor: pointer;
}

.glass-effect {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #0b061a;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cor-button-close{
  --#{$prefix}btn-close-color: #{$btn-close-color};
}
